<%- include('partials/header') %>
<main>
    <h1>
        <%= title %>
    </h1>

    <h2>
        <%= projectDetails.title %>
    </h2>

    <% const formattedDate = new Date(projectDetails.date).toLocaleDateString();%>

    <p>Date: <%= formattedDate %> </p>

    <p>Description: <%= projectDetails.description %></p>

    <p>Location: <%= projectDetails.location %></p>

    <p>
        Organization: <a href="/organization/<%= projectDetails.organization_id %>">
        <%= projectDetails.organization_name %></a>
    </p>
</main>
<%- include('partials/footer') %>