<%- include('partials/header') %>
<main>
    <h1>
        <%= title %>
    </h1>
    <h2>Upcoming Service Projects</h2>
    <ul>
        <% projects.forEach(project=> { %>
            <li>
                <%
                    const formattedDate = new Date(project.date).toLocaleDateString();
                %>
                <strong> <%= formattedDate %>: <a href="/project/<%= project.project_id %>"><%= project.title %></a></strong> ("<a href="/organization/<%= project.organization_id %>"><%= project.organization_name %></a>" organization)
            </li>
        <% }) %>
    </ul>
</main>
<%- include('partials/footer') %>